<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: common_header(~{::title})">
    <title>Expense tool - Expenses</title>
</head>
<script>
function validate() {
   var isValidP=false;
   var isValidB=false;
   var radioLength = document.getElementsByName('payees').length;
   for(var i =0;i < radioLength;i++){
	if(document.getElementsByName('payees')[i].checked){
	   isValidP=true;
	}
   }
   radioLength = document.getElementsByName('buyees').length;
   for(var i =0;i < radioLength;i++){
	if(document.getElementsByName('buyees')[i].checked){
	   isValidB=true;
	}
   }
  var x=document.forms["expenseForm"]["expenseAmount"].value;
  if (isNaN(x))
  {
    alert("Amount must be a number");
    return false;
  }

   var isValid = isValidP && isValidB;
  if(!isValid){
     alert("At least one Payer and one Buyer must be selected!")
     return false;
  }else{
     document.getElementById('expenseForm').submit();
     return true;
  }

}
$(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<body>
<!-- Welcome Section -->
<div th:replace="header :: common_navbar('expense','Register expense','fas fa-money-bill-wave','See the expenses below')">
    Navbar
</div>
<div class="container-fluid h-100">
    <div class="row">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 d-flex align-items-stretch mb-2">
                    <div class="card text-center w-100 pt-3">
                        <div class="card-body text-left">
                            <form id="expenseForm" action="#" method="post" th:action="@{/registerExpense}" th:object="${exp}" onsubmit="return validate()" >
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <input id="idInput" th:field="*{id}" type="hidden">
                                    <label for="nameInput">Expense name</label>
                                    <input aria-describedby="nameHelp" autofocus
                                           class="form-control needs-validation" id="nameInput"
                                           required th:field="*{name}" type="text">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="expenseAmount">Enter the expense amount</label>
                                    <input class="form-control needs-validation" id="expenseAmount"
                                           required
                                           th:field="*{amount}" type="tel">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="expenseDate">Date the expense was placed</label>
                                    <input class="form-control needs-validation" id="expenseDate"
                                           required th:field="*{stringDate}" type="date">
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                                <input class="form-control btn btn-primary stretched-link mt-auto" type="submit"
                                       value="Save expense">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-sm">
                                            Payees
                                            <div class="" th:each=" pwallet : ${allWallets}">
                                                <div class="custom-control custom-toggle my-2">
                                                    <input class="custom-control-input"
                                                           name="payees"
                                                           th:checked="${payees.getEnabled(pwallet.id)}"
                                                           th:id="'payeer-' + ${pwallet.name}"
                                                           th:value="${pwallet.id}"
                                                           type="checkbox">
                                                    <label class="custom-control-label"
                                                           th:for="'payeer-' + ${pwallet.name}">
                                                        <i th:class="${pwallet.icon}"></i>&nbsp;<span th:text="${pwallet.name}">myName</span></label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm">
                                            Buyers
                                            <div class="" th:each=" bwallet : ${allWallets}">
                                                <div class="custom-control custom-toggle my-2">
                                                    <input class="custom-control-input"
                                                           name="buyees"
                                                           th:checked="${buyers.getEnabled(bwallet.id)}"
                                                           th:id="'taker-' + ${bwallet.name}"
                                                           th:value="${bwallet.id}"
                                                           type="checkbox">
                                                    <label class="custom-control-label"
                                                           th:for="'taker-' + ${bwallet.name}">
                                                        <i th:class="${bwallet.icon}"></i>&nbsp;<span th:text="${bwallet.name}">myName</span></label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="expenseDescription">Describe your expense further (optional)</label>
                                    <textarea class="form-control" id="expenseDescription" rows="3"
                                              th:field="*{description}"></textarea>
                                    <div class="valid-feedback">
                                        Looks good!
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 d-flex align-items-stretch mb-4">
                    <div class="text-center w-100 pt-3">
                        <div class="d-flex flex-column" th:switch="${expenses}">
                            <h5 class="" th:case="null">No expenses yet!</h5>
                            <div th:case="*">
                                <h5 class="">
                                    Current expenses <i class="fas fa-money-bill-wave"></i>
                                </h5>
                                <div class="text-left table-responsive">
                                    <table class="table table-hover col-sm-6">
                                        <thead>
                                        <th scope="col">Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col"> </th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="e: ${expenses}"
                                            th:onclick="'window.location.href = \'' + @{/editExpense/{id}(id=${e.id})} + '\''"
                                            data-toggle="tooltip" data-placement="top" th:title="${e.description}">
                                            <td th:text="${e.name}"></td>
                                            <td class="text-nowrap" th:text="${e.stringDate}"></td>
                                            <td th:text="${e.amount}"></td>
                                            <td class="text-nowrap">
                                             <div class="badge badge-success badge-pill"><span th:each="p: ${e.payers}"><i th:class="${p.icon}" data-toggle="tooltip" data-placement="top" th:title="'Payer ' + ${p.name}"></i>&nbsp;</span></div>
                                             <div class="badge badge-warning badge-pill"><span th:each="b: ${e.byers}"><i th:class="${b.icon}" data-toggle="tooltip" data-placement="top" th:title="'Buyer ' + ${b.name}"></i>&nbsp;</span></div>
                                                <a class="badge badge-danger" data-confirm-title="Delete Expense?"
                                                   th:data-confirm-content="'Are you sure you want to delete ' + ${e.name} + '?'"
                                                   th:href="@{/deleteExpense/{id}(id=${e.id})}"
                                                   th:id="'deleteLink'+${e.id}"><i
                                                    class="fas fa-trash"></i> Delete</a>
                                            </td>
                                            <script th:inline="javascript">
                                            /*<![CDATA[*/  $("#deleteLink[[${e.id}]]").popConfirm(); /*]]>*/
                                            </script>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Expense navigation">
                                        <ul class="pagination pagination-lg">
                                           <li th:class="'page-item ' + ${currentPage == pageNumber ? 'active' : ''}"
                                                th:each="pageNumber : ${pageNumbers}">
                                                <a class="page-link" th:href="@{/expense(page=${pageNumber}, size=5)}"
                                                   th:text="${pageNumber}">##</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 // do not engage datepicker
} else {
$('#expenseDate').datepicker({
      autoclose: true,
      todayHighlight: true,
      language: 'sv-SE',
      weekStart: 1,
      format: 'yyyy-mm-dd'
});
}
</script>
</body>
</html>