<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: common_header(~{::title})">
    <title>Expense tool - Standings</title>
</head>
<body>
<script>
    $(function () {
  $('[data-toggle="tooltip"]').tooltip()
})
</script>
<!-- Welcome Section -->
<div th:replace="header :: common_navbar('standings','Standings','fas fa-calculator','See the standings below')">
    Navbar
</div>
<div class="container-fluid h-100">

    <div class="row">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 d-flex align-items-stretch mb-4">
                <div class="card text-center w-100 pt-3">
                    <div class="card-body d-flex flex-column" th:switch="${standings}">
                        <h5 class="card-title" th:case="null">No Wallets yet!</h5>
                        <div th:case="*">
                            <h5 class="card-title">
                                Standings <i class="fas fa-calculator"></i>
                            </h5>
                            <div class="card-body text-left">
                                <div th:each="element: ${standings}">
                                    <p><i th:class="${element.key.icon}"></i> <span th:text="${element.key.name}"></span>
                                        <span th:class="'badge badge-' + ( (${element.value} >= 0)? 'success':'danger')">
                                            <span th:text="${#numbers.formatDecimal(element.value, 0, 'COMMA', 2, 'POINT')}">NaN</span> SEK
                                        </span>
                                    </p>
                                </div>
                            </div>

                            <form id="settingsForm" action="#" method="post" th:action="@{/updateSettings}" th:object="${settings}" sec:authorize="hasAuthority('ADMIN')">
                                <ul th:if="${#fields.hasErrors('*')}">
                                    <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect
                                    </li>
                                </ul>
                                <div class="form-group">
                                    <input id="idInput" th:field="*{id}" type="hidden">
                                    <label for="startDate">Counting from date</label>
                                    <input class="form-control needs-validation" id="startDate"
                                           required th:field="*{stringDate}" type="date">
                                    <input class="form-control btn btn-primary stretched-link mt-auto" type="submit" value="Update date"/>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-8 d-flex align-items-stretch mb-4">
                    <div class="text-center w-100 pt-3">
                        <div class="d-flex flex-column" th:switch="${expenses}">
                            <h5 class="" th:case="null">No expenses yet!</h5>
                            <div th:case="*">
                                <h5 class="">
                                    Current expenses <i class="fas fa-money-bill-wave"></i>
                                </h5>
                                <div class="text-left table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                        <th scope="col">Name</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Amount</th>
                                        <th scope="col"> </th>
                                        </thead>
                                        <tbody>
                                        <tr th:each="e: ${expenses}"
                                            th:onclick="'window.location.href = \'' + @{/editExpense/{id}(id=${e.id})} + '\''"
                                            data-toggle="tooltip" data-placement="top" th:title="${e.description}">
                                            <td th:text="${e.name}"></td>
                                            <td class="text-nowrap" th:text="${e.stringDate}"></td>
                                            <td th:text="${e.amount}"></td>
                                            <td class="text-nowrap">
                                                <div class="badge badge-success badge-pill"><span th:each="p: ${e.payers}"><i th:class="${p.icon}" data-toggle="tooltip" data-placement="top" th:title="'Payer ' + ${p.name}"></i>&nbsp;</span></div>
                                                <div class="badge badge-warning badge-pill"><span th:each="b: ${e.byers}"><i th:class="${b.icon}" data-toggle="tooltip" data-placement="top" th:title="'Buyer ' + ${b.name}"></i>&nbsp;</span></div>
                                                <a class="badge badge-danger" data-confirm-title="Delete Expense?"
                                                   th:data-confirm-content="'Are you sure you want to delete ' + ${e.name} + '?'"
                                                   th:href="@{/deleteExpense/{id}(id=${e.id})}"
                                                   th:id="'deleteLink'+${e.id}"><i
                                                        class="fas fa-trash"></i> Delete</a>
                                            </td>
                                            <script th:inline="javascript">
                                            /*<![CDATA[*/  $("#deleteLink[[${e.id}]]").popConfirm(); /*]]>*/
                                            </script>
                                        </tr>
                                        </tbody>
                                    </table>
                                    <nav aria-label="Expense navigation">
                                        <ul class="pagination pagination-lg">
                                            <li th:class="'page-item ' + ${currentPage == pageNumber ? 'active' : ''}"
                                                th:each="pageNumber : ${pageNumbers}">
                                                <a class="page-link" th:href="@{/standings(page=${pageNumber}, size=50)}"
                                                   th:text="${pageNumber}">##</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
 // do not engage datepicker
} else {
$('#startDate').datepicker({
      autoclose: true,
      todayHighlight: true,
      language: 'sv-SE',
      weekStart: 1,
      format: 'yyyy-mm-dd'
});
}
</script>
</body>

</html>