<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>Mina sidor</title>

    <script src="/me-portal-cgi/webjars/jquery/3.4.0/jquery.min.js"></script>
    <script src="/me-portal-cgi/webjars/popper.js/1.14.3/popper.min.js"></script>
    <script src="/me-portal-cgi/webjars/bootstrap/4.4.1-1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://fes1.funktionstjanster.se/me-portal-cgi/stylesheet/style_vendor.css"/>

    <script src="/me-portal-cgi/webjars/font-awesome/5.7.1/js/all.min.js" data-auto-replace-svg="nest"></script>
</head>
<body>

<div class="container-fluid h-100">
    <nav class="navbar navbar-expand-lg navbar-light bg-light row">
        <div class="container">
            <a class="navbar-brand" href="https://fes1.funktionstjanster.se/me-portal-cgi">
                <img src="https://www.ei.se/img/ei-logo.png" style="height: 3em; width: auto;"/>
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                </ul>
                <div class="my-2 my-lg-0">

                            <span class="logout">
                            <a href="https://fes1.funktionstjanster.se/me-portal-cgi/Login" class="btn btn-outline-success my-2 my-sm-0">Logga in</a>
                        </span>

                </div>
            </div>

        </div>
    </nav>

    <div class="row">


        <div class="col col-sm-12">


            <div class="mt-4"></div>

            <div class="container">
                <h2>Genomför rapporteringar och se dina ärenden</h2>
                <p>
                    Här ser du de tillgängliga e-tjänster som finns. Du kan också följa allt som händer i dina ärenden genom att klicka på mina sidor.
                </p>
            </div>

        </div>


        <div class="container">
            <div class="row justify-content-center">
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 d-flex align-items-stretch mb-4">
                    <div class="card text-center w-100 pt-3">
                        <div class="card-img-top mx-auto">
                            <span class="fas fa-industry text-primary fa-4x"></span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Anläggningar
                            </h5>

                            <span>E-tjänster för era anläggningar</span>
                        </div>
                        <a class="btn btn-primary stretched-link mt-auto" href="https://fes1.funktionstjanster.se/me-portal-cgi/Services?path=QW5sw6RnZ25pbmdhcg%253D%253D">Gå till grupp med tjänster</a>
                    </div>

                </div>
                <div class="col-sm-6 d-flex align-items-stretch mb-4">
                    <div class="card text-center w-100 pt-3">
                        <div class="card-img-top mx-auto">
                            <span class="fas fa-hard-hat text-primary fa-4x"></span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Bygga och Bo
                            </h5>

                            <span>E-tjänsater för byggnation, eller annat som är relaterat till byggnader, småhus eller andra byggnader.</span>
                        </div>
                        <a class="btn btn-primary stretched-link mt-auto" href="https://fes1.funktionstjanster.se/me-portal-cgi/Services?path=QnlnZ2Egb2NoIEJv">Gå till grupp med tjänster</a>
                    </div>

                </div>
                <div class="col-sm-6 d-flex align-items-stretch mb-4">
                    <div class="card text-center w-100 pt-3">
                        <div class="card-img-top mx-auto">
                            <span class="fas fa-bolt text-primary fa-4x"></span>
                        </div>
                        <div class="card-body d-flex flex-column">
                            <h5 class="card-title">
                                Elmatning
                            </h5>

                            <span>E-tjänster för elmatning</span>
                        </div>
                        <a class="btn btn-primary stretched-link mt-auto" href="https://fes1.funktionstjanster.se/me-portal-cgi/Services?path=RWxtYXRuaW5n">Gå till grupp med tjänster</a>
                    </div>

                </div>
            </div>
        </div>


    </div>

</div>

<footer class="blockquote-footer float-right mx-4">
    <a class="text-muted" href="//www.cgi.se/sv/cgi-sverige">Om oss</a>
    <span> | </span>
    <a class="text-muted" href="//www.cgi.se/sv">CGI erbjuder</a>
</footer>
</div>

</body>
</html>




