<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="header :: common_header(~{::title})">
    <title>Expense tool - User</title>
</head>
<body>
<!-- Welcome Section -->
<div th:replace="header :: common_navbar('user','User','fas fa-user','Register a new user or edit a user for the system.')">
    Navbar
</div>


<div class="container-fluid h-100">

    <div class="row">

        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-6 d-flex align-items-stretch mb-4">
                    <div class="card text-center w-100 pt-3">
                            <div class="card-body text-left">
                                <form action="#" method="post" th:action="@{/addUser}" th:object="${user}">
                                    <div class="form-group">
                                        <input id="idInput" th:field="*{id}" type="hidden">
                                        <label for="nameInput">Username</label>
                                        <input aria-describedby="nameHelp" class="form-control needs-validation"
                                               id="nameInput" required
                                               th:field="*{name}" type="text">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                        <small class="form-text text-muted" id="nameHelp">Name of the user.</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="userEmail">Enter the users email</label>
                                        <input class="form-control needs-validation" id="userEmail"
                                               required
                                               th:field="*{email}" type="email">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">Enter password</label>
                                        <input class="form-control needs-validation" id="password"
                                               th:field="*{password}" type="password">
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                    <div class="custom-control custom-toggle my-2">
                                        <input class="custom-control-input" id="admin"
                                               name="admin"
                                               th:field="${user.admin}"
                                               type="checkbox" th:checked="${user.admin}">
                                        <label class="custom-control-label"
                                               for="admin">Admin user</label>
                                    </div>
                                    <input class="form-control btn btn-info stretched-link mt-auto" type="submit"
                                           value="Save User">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>



                </div>
            </div>
        </div>
</body>
</html>